<ul>
    <% blogList.forEach(blog=>{ %>
        <li data-id="<%= blog.id %> ">
            <%= blog.title %>
        </li>
        <% }) %>
</ul>

<script type="text/javascript">
    console.log(111)
</script>